# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
**/tsconfig.tsbuildinfo
**/tsconfig.build.json
**/target
target
.env
*.secret*
*-pi*
*-dev*
**/:wq
**/secret.env
**/.env


# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.factorypath
.idea/


# IDE - VSCode
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/coverage-integration
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.env
.env.*
*.gz
*.jar
*.log

# Except this file
!.env.template

# Ignore coverage directories in apps and libs
apps/**/test/coverage/**
apps/**/test-integ/coverage/**
libs/**/test/coverage/**
libs/**/test-integ/coverage/**
/newvue/
