server:
  servlet:
    contextPath: /isochrone


# Config for PROD
spring:
  jpa:
    hibernate.ddl-auto: none
    generate-ddl: false
    show-sql: false
    format-sql: false
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  thymeleaf:
    cache: true
    enable-spring-el-compiler: true

web:
  cors:
    allowed-origins: "${PROTOCOL_AND_FQDN}"

application:
  security:
    token:
      secret: ${TOKEN_KEY_BASE64}
      expiration-ms: 3600000 # 1 hour
    export-credential-key: ${EXPORT_KEY}
    export-ip-address:  ${EXPORT_IP}
    timehack: ${THE_LOGIN_TIME_IN_PROD}
    jwt-sign-key: FAKE_KEY
    salt-len: ${PASSWORD_SALT}
    hash-len: ${PASSWORD_LENGTH}
    nb-iters: ${PASSWORD_INTERATIONS}
#    1 << 15  =32768
#    1 << 17  =131072
    memSizeInKb: ${PASSWORD_MEMORY}
  mailjet:
    apiToken: ${MAILJET_TOKEN}
    apiSecret: ${MAILJET_SECRET}
    senderEmail: ${MAILJET_EMAIL}
    senderName: ${MAILJET_NAME}
    attachementPath: /var/isochrone/mail
  git:
    localPath: ${MOUNT_PATH}/isochrone/data
    username: ${GIT_USERNAME}
    token: ${GIT_TOKEN}
    defaultBranch: main
  feature-flipping:
    mobile-api: false
    parkAnalysisEnabled: true
    salaryAnalysisEnabled: false
    pollutionAnalysisEnabled: false
    isochrone-impl: ign-api-v2
    
  admin:
    photo-path: ${MOUNT_PATH}/isochrone/photo
    photo-path-origin: ${MOUNT_PATH}/isochrone/photo_origin
    export-data-path: ${MOUNT_PATH}/isochrone/data

# Git credentials (mapped to environment variables GIT_USERNAME / GIT_PASSWORD)
git:
  username: ${GIT_USERNAME}
  password: ${GIT_PASSWORD}
