<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <include resource="logback-properties.xml"/>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<property name="LOG_DIR" value="/var/log/jvm" />
	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_DIR}/isochrone.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- daily rollover -->
	        <fileNamePattern>isochrone.%d{yyyy-MM-dd}.gz</fileNamePattern>
	
	        <maxHistory>5</maxHistory>
	        <totalSizeCap>1GB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender> 
	
	
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
	
	
  <logger name="com.zaxxer.hikari.HikariConfig" level="info"/>
  <logger name="com.zaxxer.hikari" level="error"/>
  <logger name="org.springframework.web.client.RestTemplate" level="warn"/>
  
  <logger name="com.github.cunvoas.geoserviceisochrone" level="warn"/>
  <logger name="com.github.cunvoas.geoserviceisochrone.GeoserviceIsochroneApplication" level="info"/>

  <!-- deployed environments -->
  <springProfile name="prod,pi">
    <root level="ERROR">
      <appender-ref ref="LOG_FILE"/>
    </root>
  </springProfile>

  <!-- Local & CI environment (local-custom is a reference to application-local-custom.yml -> see : .gitignore) -->
  <springProfile name="local,compose,secret,dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
