      <footer class="py-4 bg-light mt-auto" th:fragment="footer">
          <div class="container-fluid px-4">
              <div class="d-flex align-items-center justify-content-between small">
                  <div class="text-muted" th:text="#{global.copyright}">Copyright</div>
                  <div>
                      <a target="_blank" rel="noopener noreferrer" href="https://www.gnu.org/licenses/gpl-3.0.html" th:text="#{global.terms}">terms</a>
                      &middot;
                      <a target="_blank" rel="noopener noreferrer" href="https://github.com/cunvoas/opendata-tools" th:text="#{global.contribution}">contribution</a>
                  </div>
              </div>
          </div>
      </footer>