<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments/fragment-head :: head(#{dashboard.title})}" />

<body class="sb-nav-fixed">
	<div th:insert="~{fragments/fragment-navUp :: navUp}"></div>
	<div id="layoutSidenav">
		<div th:insert="~{fragments/fragment-navLeft :: navLeft}"></div>

		<div id="layoutSidenav_content">
			<!-- debut MAIN -->
			<main>

				<div class="container-fluid px-4">
					<h3 class="mt-3" th:text="#{menu.abstract.dashboard}">Dashboard</h3>

					<div class="row mt-3">

                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-book-atlas fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbCarreau}">nbCarreau</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbCarreau, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-calendar-days fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbAnnee}">nbAnnee</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbAnnee, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-square-poll-vertical fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbFilosofil}">nbFilosofil</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbFilosofil, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						

						
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div
								class="card bg-warning text-white  border-left-primary shadow h-100 py-2 ">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<i class="fas fa-users-rays fa-2x text-gray-300"></i>
										</div>
										<div class="col mr-2">
											<div
												class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
												th:text="#{association.nbAssociation}">nbAssociation</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${#numbers.formatInteger(dashboard.nbAssociation, 1, 'POINT')}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div> <!-- row -->


					<div class="row mt-3">

						<div class="col-sm-3 col-md-3 col-lg-3">
							<div
								class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<i class="fas fa-city fa-2x text-gray-300"></i>
										</div>
										<div class="col mr-2">
											<div
												class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
												th:text="#{association.nbCommunauteCommune}">
												nbCommunauteCommune</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${#numbers.formatInteger(dashboard.nbCommunauteCommune, 1, 'POINT')}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-3 col-md-3 col-lg-3">
							<div
								class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<i class="fas fa-building fa-2x text-gray-300"></i>
										</div>
										<div class="col mr-2">
											<div
												class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
												th:text="#{association.nbCommune}">nbCommune</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${#numbers.formatInteger(dashboard.nbCommune, 1, 'POINT')}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-secondary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-tree-city fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbParcReference}">
                                                nbParcReference</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbParcReference, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div
								class="card bg-warning text-white  border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<i class="fas fa-user-gear fa-2x text-gray-300"></i>
										</div>
										<div class="col mr-2">
											<div
												class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
												th:text="#{association.nbContributeur}">
												nbContributeur</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${#numbers.formatInteger(dashboard.nbContributeur, 1, 'POINT')}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        
					</div>

					<div class="row mt-3">


                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-primary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-check fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbParc}">nbParc</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbParc, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-primary text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-torii-gate fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbParcEntance}">nbParcEntance</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbParcEntance, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


						<div class="col-sm-3 col-md-3 col-lg-3">
							<div
								class="card bg-success text-white  border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<i class="fas fa-gears fa-2x text-gray-300"></i>
										</div>
										<div class="col mr-2">
											<div
												class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
												th:text="#{association.nbParcIsochrone}">
												nbParcIsochrone</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${#numbers.formatInteger(dashboard.nbParcIsochrone, 1, 'POINT')}"></div>
										</div>
										

										
									</div>
								</div>
							</div>
						</div>
						
						
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div
                                class="card bg-info text-white  border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col mr-2">
                                            <div
                                                class="text-xs text-white font-weight-bold text-primary text-uppercase mb-1"
                                                th:text="#{association.nbComputeJobPending}">
                                                nbComputeJobPending</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                th:text="${#numbers.formatInteger(dashboard.nbComputeJobPending, 1, 'POINT')}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                        

					</div>

					<!-- Historique et suggestions -->
					<div class="row mb-5">
						<div class="col-12">
							<h3 class="mt-4 mb-4" th:text="#{menu.abstract.history}">History</h3>
						</div>
						<div class="col-md-6 mb-3">
							<div class="card">
								<div class="card-body">
									<a th:href="@{/mvc/release-note}" th:text="#{menu.abstract.historyDetail}">
										History Detail
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<div class="card">
								<div class="card-body">
									<p>Une nouvelle idée? Proposer <a href="https://github.com/cunvoas/opendata-tools/issues" target="_blank" rel="noopener noreferrer">ici</a>.</p>
								</div>
							</div>
						</div>
					</div>
			</main>
			<!-- fin MAIN -->

			<div th:insert="~{fragments/fragment-footer :: footer}"></div>
		</div>

	</div>

	<div th:insert="~{fragments/fragment-jslibs :: appPage}"></div>

	<script th:src="@{/mvc/static/js/scripts.js}"></script>

</body>
</html>
