<!DOCTYPE html>
<html lang="fr" 
	xmlns:th= "http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


    <head th:insert="~{fragments/fragment-head :: head}"></head>
    
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">500</h1>
                                    <p class="lead" th:text="#{global.errorRaised}">Internal Server Error</p>
                                    <a th:href="@{/mvc/dashboard}">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        <div th:text="#{global.backToApp}">back</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
           <div th:insert="~{fragments/fragment-footer :: footer}"></div> 
        </div>
        <div th:insert="~{fragments/fragment-jslibs :: loginPage}"></div>
        <script th:src="@{/mvc/static/js/scripts.js}"></script>
    </body>
</html>
