<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>502 - Le serveur ne répond pas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-slate-100">
    <div class="flex flex-col justify-center lg:px-8 min-h-full px-6 py-12">
        <div class="mt-5 mx-auto max-w-sm w-full">

                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <img class="mx-auto h-20 w-auto" th:src="@{/pub/logo.png}">
                </div>

                <h4 class="font-bold leading-9 mt-10 text-center text-gray-900 text-xl tracking-tight">502 - Le serveur ne répond pas</h4>

                <div th:if="${param.error}" class="bg-rose-100 justify-center p-4 ring-1 ring-rose-200 rounded-md">
                    <p>
                    Le serveur est éteint ou en cours de redémarrage.<br />
                    Merci de rafraîchir dans quelques secondes.
                    </p>
                </div>



        </div>
    </div>
</body>
</html>