
    <div class="col-6">
    	<form action="/isochrone/mvc/entrance/editPark" method="post"><input type="hidden" name="_csrf" value="Eb5f19Tl5EHQHt7gL2Z1QcHki_bJnQcuZ6Z1cH2_jCZ75rupIIw8tOLc3HX9Lb-FFktBI_OGppesqjcDU5NBRhyJvRZDh4KZ"/>
        <fieldset id="fsEditPark" disabled="disabled">
        <div class="row">
			<div class="container-fluid px-4">
				<h4 class="mt-12">Parc et Jardin</h4>
			</div>
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="name" name="parcEtJardin.name" disabled="disabled" value=""/>
						<label class="form-label" for="name">Nom du parc et jardin</label>
					</div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="quartier" name="parcEtJardin.quartier" disabled="disabled" value=""/>
						<label class="form-label" for="quartier">Quartier</label>
					</div>
                </div>
            </div>
        </div>
        </fieldset>
        </form>
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="mapLatitude" name="mapLat" disabled="disabled" value=""/>
						<label class="form-label" for="mapLatitude">Latitude</label>
					</div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="mapLongitude" name="mapLng" disabled="disabled" value=""/>
						<label class="form-label" for="mapLongitude">Longitude</label>
					</div>
                </div>
            </div>
        </div>
        
         <div class="row">
	         <div class="col container-fluid px-4">
				<h4 class="mt-12" id="editEntranceTitle">Edition de l&#39;entrée</h4>
			</div>
			<div class="col">
				<button class="btn btn-info" onclick="switchMode(this)">Mode modification</button>
				<br />
				<input type="checkbox" id="showIsochrone" name="showIsochrone" onclick="toggleIsochrone()" />
				<input type="checkbox" id="showEntrance" name="showEntrance"  onclick="toggleIsochrone()" checked="checked" />
				<label for="showIsochrone">Afficher les isochrones</label>
            </div>
         </div>
         
    <form id="editEntrance" action="/isochrone/mvc/entrance/editEntrance" method="POST"><input type="hidden" name="_csrf" value="Eb5f19Tl5EHQHt7gL2Z1QcHki_bJnQcuZ6Z1cH2_jCZ75rupIIw8tOLc3HX9Lb-FFktBI_OGppesqjcDU5NBRhyJvRZDh4KZ"/>
    <fieldset id="fsEditEntrance" disabled="disabled">
		<input type="hidden" id="idRegion" name="idRegion" value="9" />
		<input type="hidden" id="idCommunauteDeCommunes" name="idCommunauteDeCommunes" value="1" />
		<input type="hidden" id="idCommune" name="idCommune" value="" />
		<input type="hidden" id="idPark" name="idPark" value="" />
		<input type="hidden" id="idEntrance" name="idEntrance" value="" />
		<input type="hidden" id="entranceId" name="entranceId" value=""/>
		<input type="hidden" id="areadId" name="areaId" value=""/>
		<input type="hidden" id="mode" name="mode" value="upd"/>
       <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
               		<div class="form-floating">
						<input class="form-control" type="text" id="description" name="description" value="" />
						<label class="form-label" for="description">Nom d&#39;entrée (ex. ouest)</label>
					</div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
			        <div class="form-floating">
						<input class="form-control" type="text" id="entranceLink" name="entranceLink" value="" />
						<label class="form-label" for="entranceLink">Lien (G.Map ou GéoPortail)</label>
					</div>
                </div>
            </div>
        </div>		
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="entranceLat" name="entranceLat" value="" />
						<label class="form-label" for="entranceLat">Latitude</label>
					</div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="entranceLng" name="entranceLng" value="" />
						<label class="form-label" for="entranceLng">Longitude</label>
					</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="entrancePolygon" name="entrancePolygon" value="" />
						<label class="form-label" for="entrancePolygon">Isochrone</label>
					</div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
					<div class="form-floating">
						<button type="submit" class="btn btn-secondary">Valider</button>
					</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        <button type="submit" class="btn btn-dark" formaction="/isochrone/mvc/entrance/mergeIsochrone">Fusionner les entrées</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    </form>
    </div>
    
    <div class="col-6">
		<div class="container-fluid px-4">
			<h2 class="mt-12">Localisation des entrées</h2>
		</div>
    	<div class="row">
            <div class="col-4">
                <div class="card border" style="text-align: center">
					<button id="switch-layers" type="button" class="btn btn-secondary" onclick="switchLayer(this)">Vue satellite</button>
                </div>
            </div>
            <div class="col-4">
                <div class="card border" style="text-align: center">
					<button type="button" class="btn btn-secondary" onclick="removeTempMarker(this)">Effacer les marqueurs</button>
                </div>
            </div>
            <div class="col-4">
                <div class="card border" style="text-align: center">
					<button type="button" class="btn btn-secondary" onclick="locateMe()"  style="display: none">Me localiser</button>
                </div>
            </div>
        </div>
        <div class="row h-100 ">
            <div class="col-12">
                <div class="card h-100 border" style="text-align: center">
                    <div id="mapid" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
