<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="~{fragments/fragment-head :: head}"></head>

<body class="sb-nav-fixed">
	<div th:insert="~{fragments/fragment-navUp :: navUp}"></div>
	<div id="layoutSidenav">
		<div th:insert="~{fragments/fragment-navLeft :: navLeft}"></div>


		<div id="layoutSidenav_content">
			<main>

				<div class="container">

<p class="d-inline-flex gap-1">
	<button id="btnNew" onclick="manageCreateDisabled()" type="button" class="btn btn-outline-success">Création</button>

	<button id="btnSave" onclick="savePark()" type="button" class="btn btn-outline-warning">Sauvegarder</button>
	<div id="saveParkSpinner" class="spinner-border text-success" role="status" style="display:none;">
	  <span class="visually-hidden">Loading...</span>
	</div>
    <!-- <button type="button" class="btn btn-warning">Sauvegarder</button>  -->

  <a class="btn btn-danger" style="position:absolute;right:10px" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Aide
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul>
	    <li>Sélectionner votre région, puis votre communauté de commune si vous en avez une et enfin votre Commune</li>
	    <li>Positionner vous sur la carte:</li>
		    <ul>
		    	<li>soit par la recheeche d'adresse</li>
		    	<li>soit par le bouton "me localiser"</li>
		    	<li>soit par l'ajout d'une photo localisée</li>
		    </ul>
	    <li>Saisir le nom du parc à minima</li>
	    <li>Définir le contours du parc avec l'outil polygone de la carte</li>
		    <ul>
		    	<li>les parcs déjà saisi sont visibles soit par une pointe bleue, soit pas le contour avec l'option "contour des parcs"</li>
		    </ul>
    </ul>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-12  ">
	<div class="container-fluid px-4">
		<h4 class="mt-12" th:text="#{park.title}">title</h4>
	</div>
	
        
     <div class="row input-group border border-dark rounded-3">
      	<h6 class="col-12" th:text="#{parc.edit.chooseCity}">select city</h6>
         <div class="col-3">
             <div class="card" style="text-align: center">
               	<!-- region -->
				<form th:action="@{/mvc/park/new/region}" th:object="${newPark}" method="post" onchange="submit();">
					<div class="form-floating">
						<select class="form-select" id="idRegion" name="idRegion" th:field="*{idRegion}">
							<option value="" selected disabled th:text="#{entrance.region.placeholder}">Choose here</option>
							<option th:each="region : ${regions}" 
								th:value="${region.id}" 
								th:text="${region.name}" 
								th:selected="${region.id==idRegion}"></option>
						</select>
						<label for="idRegion" th:text="#{entrance.region}">region</label>
					</div>
				</form>
             </div>
         </div>
         <div class="col-3">
             <div class="card" style="text-align: center">
                	<!-- comm2co -->
					<form th:action="@{/mvc/park/new/commDeCo}" th:object="${newPark}" method="post" onchange="submit();">
					<fieldset id="fsComm2co" disabled="disabled">
						<div class="form-floating">
							<select class="form-select" id="idCommunauteDeCommunes" name="idCommunauteDeCommunes" th:field="*{idCommunauteDeCommunes}">
								<option value="" th:text="#{entrance.communateDeCommunes.placeholder}">Choose here</option>
								<option th:each="commDeCo : ${communautesDeCommunes}" th:value="${commDeCo.id}" th:text="${commDeCo.name}" th:selected="${commDeCo.id==idCommunauteDeCommunes}"></option>
							</select>
							<label for="idCommunauteDeCommunes" th:text="#{entrance.communateDeCommunes}">Comm de Co</label>
							<input type="hidden" id="idRegion" name="idRegion" th:field="*{idRegion}" />
						</div>
					</fieldset>
					</form>
             </div>
         </div>
         <div class="col-6">
             <div class="card" style="text-align: center">
             	<!-- commune -->
				<form id="formSelectCity" th:action="@{/mvc/park/new/city}" method="POST" th:object="${newPark}">
				<fieldset id="fsCity" disabled="disabled">
					<div class="form-floating">
						<input class="form-select" list="communes" id="idCommune-filter" name="idCommune-filter" /> <label for="idCommune-filter" th:text="#{entrance.commune}">ville</label>
						<datalist id="communes" class="form-label">
							<option th:each="commune : ${communes}" th:value="${commune.name}" th:attr="data-value=${commune.id}" th:label="${commune.name}">
						</datalist>
						<input type="hidden" id="idCommune" name="idCommune" th:field="*{idCommune}" />
						<input type="hidden" id="idRegion" name="idRegion" th:field="*{idRegion}" />
						<input type="hidden" id="idCommunauteDeCommunes" name="idCommunauteDeCommunes" th:field="*{idCommunauteDeCommunes}" />
					</div>
				</fieldset>
				</form>
             </div>
         </div>
     </div>
     
     
      <div class="row input-group border border-dark rounded-3">
      		<h6 class="col-12" th:text="#{parc.edit.locateOnMap}">locate on map</h6>
            <div class="col-5">
	           <div class="card" style="text-align: center">
	                      <label for="srcAdress" th:text="#{parc.edit.searchAdress}">adress</label>
	                      <select class="form-select select2-single" id="srcAdress" name="srcAdress">
	                      </select>
	           </div>
	       </div>
            <div class="col-2">
                <div class="card border" style="text-align: center">
					<button type="button" class="btn btn-secondary" th:text="#{entrance.map.locateMe}" onclick="locateMe()" >locate me</button>
                </div>
            </div>
            <div class="col-3">
                <div class="card border" style="text-align: center">
                    <label for="fileupload" th:text="#{entrance.map.upload}">upload photo</label>
					  <input class="form-control form-control-sm" id="fileupload" type="file" name="fileupload" onchange="return fileValidation()" />
                </div>
            </div>
            <div class="col-2">
                <div class="card border" style="text-align: center">
                    <button type="button" class="btn btn-secondary" th:text="#{entrance.map.uploadBtn}" onclick="uploadFile()">upload me</button>
                </div>
            </div>
      </div>
      

<span class="row input-group border border-dark rounded-3">

    <div class="col-6">
     <form th:action="@{/mvc/park/new/save}" th:object="${newPark}" method="post">
        <fieldset id="fsEditPark" disabled="disabled">
        <input type="hidden" id="idRegion" name="idRegion" th:field="*{idRegion}" />
        <input type="hidden" id="idCommunauteDeCommunes" name="idCommunauteDeCommunes" th:field="*{idCommunauteDeCommunes}" />
        <input type="hidden" id="idCommune" name="idCommune" th:field="*{idCommune}" />
        <input type="hidden" id="idPark" name="idPark" th:field="*{idPark}" />
        <input type="hidden" id="id" name="id" th:field="*{id}" />
        <input type="hidden" id="mapLat" name=mapLat th:field="*{mapLat}"/>
        <input type="hidden" id="mapLng" name="mapLng" th:field="*{mapLng}"/>
						
<span style="display: block;"><!-- TODO hidden at the end -->
        <input type="text" id="sGeometry" name="sGeometry" th:field="*{sGeometry}" />
        <input type="text" id="etat" name="etat" th:field="*{etat}" />
        <input type="text" id="etatAction" name="etatAction" th:field="*{etatAction}" />
</span>
        
		<div class="row">
			<div class="container-fluid px-4">
				<h6 th:text="#{entrance.park.title}">title</h6>
			</div>
			<div class="col">
				<div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="name" name="name" th:field="*{name}" /> <label class="form-label" for="name" th:text="#{entrance.park}">parc</label>
					</div>
				</div>
				<div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="quartier" name="quartier" th:field="*{quartier}" /> <label class="form-label" for="quartier" th:text="#{entrance.park.block}">block</label>
					</div>
				</div>
				<div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="type" name="type" th:field="*{type}" /> <label class="form-label" for="type" th:text="#{entrance.type}">type</label>
					</div>
				</div>
				<div class="card border" style="text-align: center">
					<div class="form-floating">
						<input class="form-control" type="text" id="sousType" name="sousType" th:field="*{sousType}" /> <label class="form-label" for="sousType" th:text="#{entrance.sousType}">sousType</label>
					</div>
				</div>
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="surface" name="surface" th:field="*{surface}" disabled="disabled"  />
                        <label class="form-label" for="surface" th:text="#{entrance.surface}">surface</label>
                    </div>
                </div>
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="source" name="source" th:field="*{source}"  />
                        <label class="form-label" for="source" th:text="#{park.source}">source</label>
                    </div>
                </div>
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="status" name="status" th:field="*{status}" disabled="disabled"  />
                        <label class="form-label" for="status" th:text="#{park.status}">status</label>
                    </div>
                </div>
                
                <div class="card border" style="text-align: center">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="status" name="status" th:field="*{status}"  />
                        <label class="form-label" for="status" th:text="#{park.status}">idStatus</label>
                        <!-- TODO parkTypes -->
                    </div>
                </div>
                

			</div>
		</div>


        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
                  
                </div>
            </div>
        </div>
        
        
            <!-- TODO: make the filter later -->
            <div class="col-6" style="display: block;"> 
                <div  style="text-align: left">
                 <h6 class="mt-12" th:text="#{park.filter}">title</h6>
	             <input type="radio" id="filterValid" name="filterPark" value="VALID" class="form-check-input" onchange="filterChange('VALID');" />
	             <label for="filterValid" th:text="#{park.filter.valid}" >VALID</label>
	             
	             <input type="radio" id="filterNoMatch" name="filterPark"  value="NO_MATCH" class="form-check-input"  onchange="filterChange('NO_MATCH');" checked="checked" />
	             <label for="caseMerge" th:text="#{park.filter.noMatch}" >NO_MATCH</label>
	            
	             <input type="radio" id="filterReject" name="filterPark" value="REJECT" class="form-check-input" onchange="filterChange('REJECT');"  />
	             <label for="filterReject" th:text="#{park.filter.reject}" >REJECT</label>
                </div>
            </div>



    </div>
    
    <div class="col-6">
        <div class="row">
            <div class="col-4">
                <h6 th:text="#{park.edit.title}">title</h6>
            </div>
            

        </div>
        <div class="row col-12 h-100 ">
                <div class="card " style="text-align: center">
                    <div id="mapid" style="width: 100%; height: 100%;"></div>
                </div>
        </div>
        
        
            </fieldset>
    </form>
    </div>

</span>

<!-- --------------------------- -->
     

    
</div>

							
			</main>
		</div> <!-- layoutSidenav_content -->
	</div> <!-- layoutSidenav -->
	
	<div th:insert="~{fragments/fragment-footer :: footer}"></div>
    <div th:insert="~{fragments/fragment-jslibs :: newMap}"></div>
	<script th:src="@{/mvc/static/js/scripts.js}"></script>

	<script th:inline="javascript">
	
	 function isEmpty(obj) {
	     return Object.keys(obj).length === 0;
	 }
	 function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	 }

	 
	 
	/* manage correct ID for COMMUNE SELECTION */
	// th-field broke the datalist work
	document.querySelector('#idCommune-filter').value=[[${newPark.nameCommune}]];
	document.querySelector('#idCommune-filter').addEventListener('input', function(e) {
	    var input = e.target,
	        list = input.getAttribute('list'),
	        options = document.querySelectorAll('#' + list + ' option'),
	        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
	        inputValue = input.value;
		    
	    	hiddenInput.value = inputValue;
		    
		    for(var i = 0; i < options.length; i++) {
		        var option = options[i];
		        if(option.value === inputValue) {
		        	hiddenInput.value = option.getAttribute('data-value');
		        	document.querySelector("#formSelectCity").submit();
		            break;
		        }
		    }
	});
	
	document.querySelector('#idCommune-filter').addEventListener('focusout', function(e) {
	    var input = e.target,
        list = input.getAttribute('list'),
        options = document.querySelectorAll('#' + list + ' option'),
        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
        inputValue = input.value;
	    
	    const regex = /[0-9]/g;
	    const found = hiddenInput.match(regex);
	    if (found) {
	    	document.querySelector("#formSelectCity").submit();
	    }
	});

	var photoIcon = L.icon({
	    iconUrl: [[@{/mvc/static/images/photo_picto.png}]]
		,iconSize: [50, 50]
	    ,iconAnchor:   [5, 5] // point of the icon which will correspond to marker's location
	    ,popupAnchor:  [5, 5] // point from which the popup should open relative to the iconAnchor
	});
    
    /////////////////////////////////////////////////////////////////////////
    // custom location on load
    function locatePlace(lat, lon) {
    	return L.latLng(lat, lon);
    }
    var locateWorkPlace= L.latLng(50.626419,3.0719121);
    var mLng = document.getElementById("mapLng").value;
    var mLat = document.getElementById("mapLat").value;
    if (mLng!="" && mLat!="") {
    	locateWorkPlace = locatePlace(mLat, mLng);
    }
    
    
    // map layers
    var mapMinZoom=8;
    var mapMaxZoom=19;
    
    // https://leaflet-extras.github.io/leaflet-providers/preview/
    // fond de carte
    var layerEsriWorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
	    	name: 'Carte WorldStreetMap',
	    	attribution: "ArcGIS World Street Map (Esri)",
	        maxZoom: mapMaxZoom,
	        minZoom: mapMinZoom
    });
     var layerSatellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			name: "Satellite ArcGisOnline",
			attribution: '&copy; <a href="https://www.arcgis.com/">ArcGisOnline</a>',
			maxZoom: mapMaxZoom,
            minZoom: mapMinZoom
        });
    var layerStreetMap = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			name: 'Carte OpenStreetMap',
			attribution: '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: mapMaxZoom,
			minZoom: mapMinZoom
        });
    
    // picto fond de carte
    const mapLayers = {
   		'Carte WorldStreetMap': layerEsriWorldStreetMap,
   		'Satellite ArcGisOnline': layerSatellite,
   		'Carte OpenStreetMap': layerStreetMap
   	};
    
    const dataPrefecture = L.layerGroup();
    const dataAutmel = L.layerGroup();
    var dataLayers = {
    	"Données de la préfecture": dataPrefecture,
    	"Contours des parcs": dataAutmel
    };
    
    var editMap = L.map('mapid', {
    	zoom: 16,
        layers: [ layerStreetMap, layerEsriWorldStreetMap, layerSatellite]
    }).setView(locateWorkPlace);


    
	const zoomControl = L.control.scale().addTo(editMap);
    const layerControl = L.control.layers(mapLayers, dataLayers).addTo(editMap);
  //  layerStreetMap.addTo(editMap); //  set as default
    

    
    
    // event on click
    // https://stackoverflow.com/questions/11421127/how-to-trigger-events-on-leaflet-map-polygons
    
    function filterChange(filterType) {
    	console.log(geojsonPrefLayer);
    	//geojsonPrefLayer.redraw()
    }
    function customOnEachFeaturePref(feature, layer) {
    	var filter=document.querySelector('input[name="filterPark"]:checked').value;
    	console.log('radio='+filter);
    	
        // does this feature have a property named fillColor?
        if (feature.properties) {
        	if (feature.properties.status !== filterValid) {
        		console.log("to invisible: feat>"+feature.properties.name+">"+feature.properties.status);
        		layer.setStyle(
        				{fillOpacity: 0},
        				 {opacity: 0},
        				 {color: '#1212ff'},
        				 {fillColor: '#1212ff'},
        				);
        		
        	} else {
        		if (feature.properties.fillColor) {
                console.log("to display: feat>"+feature.properties.name+">"+feature.properties.status);
        		
                 layer.setStyle(
                         {fillColor: feature.properties.fillColor},
                         {fillOpacity: 0.60},
                         {color: feature.properties.fillColor},
                         {opacity: 0.95}
                 	);
            	}
        	}
    		

            nom ="inconnu";
            if (feature.properties.namePrefecture) {
                nom = feature.properties.namePrefecture;
            }
            if (feature.properties.name) {
                nom=nom+"<br />"+feature.properties.name;
            }
            layer.bindPopup(nom + getGMapLink(feature));
        }
    }
    
    function getGMapLink(feature) {
        //first point of the polygon
        clkLat = feature.geometry.coordinates[0][0][1];
        clkLng = feature.geometry.coordinates[0][0][0];
        gUrl="https://www.google.com/maps/@"+clkLat+","+clkLng+",18.03z";
        return "<br /><a href='"+gUrl+"' target='_blank'>GMap</a>";
    }
    
    function customOnEachFeatureParc(feature, layer) {
        // does this feature have a property named fillColor?
        if (feature.properties) {
            if (feature.properties.name) {
                layer.bindPopup(feature.properties.name);
            }
        }
    }
    
    
    function fnParkPrefClicked(feat) {
    	manageDisabled();
    	props = feat.properties;
    	geom = feat.geometry;
    	
    	var strPoly = JSON.stringify(geom);
        document.getElementById("sGeometry").value=strPoly;
        document.getElementById("etatAction").value="add";
         
    	document.getElementById("etat").value="pref";
        document.getElementById("id").value = props.id;
    	document.getElementById("idPark").value = props.idParcJardin;
        document.getElementById("name").value = props.name;
        document.getElementById("surface").value = props.surface;
        document.getElementById("quartier").value = props.quartier;
        document.getElementById("type").value = props.type;
        document.getElementById("sousType").value = props.sousType;
        document.getElementById("status").value = props.status;
        document.getElementById("source").value = props.source;
        
        document.getElementById('name').style.color = 'black';
        document.getElementById('name').style.fontWeight  = 'normal';
        
    }
    
    // manage click on geometry
    function fnParkGardenClicked(props) {
    	if (document.getElementById("etat").value!=='pref') {
    		// cleanUp
            document.getElementById("id").value = "";
            document.getElementById("idPark").value = "";
            document.getElementById("name").value = "";
            document.getElementById("surface").value = "";
            document.getElementById("quartier").value = "";
            document.getElementById("type").value = "";
            document.getElementById("sousType").value = "";
            document.getElementById("status").value = "";
            document.getElementById("source").value = "";
    	}
    	
        document.getElementById("idPark").value = props.id;
        document.getElementById("name").value = props.name;
        document.getElementById("source").value = props.source;
        document.getElementById("surface").value = props.surface;

        document.getElementById('name').style.color = 'green';
        document.getElementById('name').style.fontWeight  = 'bold';
        
        document.getElementById("etat").value="p&j";
        document.getElementById("etatAction").value="edit";
        
    }


    
    var geojsonPrefLayer = null;
    var geojsonParkLayer = null;
    // relead parks with map fit
    function loadPrefParks() {
        if (geojsonPrefLayer!==null) {
            editMap.removeLayer(geojsonPrefLayer);
            delete geojsonPrefLayer ;
        }
        swLat=editMap.getBounds().getSouthWest().lat;
        swLng=editMap.getBounds().getSouthWest().lng;
        neLat=editMap.getBounds().getNorthEast().lat;
        neLng=editMap.getBounds().getNorthEast().lng;
        sPos="swLat="+ swLat +"&swLng="+swLng +"&neLat="+neLat +"&neLng="+neLng;
        
        // parc prefecture
        var sUrlGeoPref= window.location.protocol + "//" + window.location.host + [[@{/mvc/geojson/parkPrefectureByCorner}]]+'?'+sPos;
        geojsonPrefLayer = new L.GeoJSON.AJAX(sUrlGeoPref, {onEachFeature: customOnEachFeaturePref});
        geojsonPrefLayer.addTo(dataPrefecture);
        
        // contours parc autmel
        var sUrlGeoAutmel= window.location.protocol + "//" + window.location.host + [[@{/mvc/geojson/parkGardenOutlineByCorner}]]+'?'+sPos;
        geojsonAutmelLayer = new L.GeoJSON.AJAX(sUrlGeoAutmel, {onEachFeature: customOnEachFeaturePref});
        geojsonAutmelLayer.addTo(dataAutmel);
        
        
        // works! used when affect
        geojsonPrefLayer.on('click', function(e){
            console.log("click pref");
            console.log(e.sourceTarget.feature);
        	fnParkPrefClicked(e.sourceTarget.feature)
        });
        
        // works! used when delete
        geojsonPrefLayer.on("pm:remove", (e) => {
            console.log("pm:remove geom");
        	 console.log(e.layer.feature);
        	 document.getElementById("etatAction").value="remove";
        	 
          });


        
        editMap.on('pm:create', ({ layer}) => {  
            console.log("pm:create geom");
            document.getElementById("etatAction").value="create";
            
        	  layer.on('pm:edit', e => {
                console.log("pm:edit geom");
        	    console.log(e);

                self_drawn = editMap.pm.getGeomanDrawLayers(true);
                var strPoly = JSON.stringify(self_drawn.toGeoJSON());
                document.getElementById("sGeometry").value=strPoly;
                document.getElementById("etatAction").value="edit";
                
                console.log(strPoly);
        	    
        	    //var strPoly = JSON.stringify(e.layers.toGeoJSON());
        	  });
        	});

        
        
        // works! event after add poly
        editMap.on('pm:drawend', function (e) {
            console.log("pm:drawend");
            console.log(e);
            document.getElementById("etatAction").value="new";
            
            self_drawn = editMap.pm.getGeomanDrawLayers(true);
            var strPoly = JSON.stringify(self_drawn.toGeoJSON());
            console.log(strPoly);
            document.getElementById("sGeometry").value=strPoly;
            
              //want to check here whether the layerToDraw is valid
              //features.addLayer(layerToDraw);
            });
        
        // works! event after modify pref poly
        geojsonPrefLayer.on('pm:change', function (e) {
            console.log("pm:change ");
              var layerToDraw = e.layer;   
              console.log(layerToDraw);
              document.getElementById("etatAction").value="change";
              
              var strPoly = JSON.stringify(layerToDraw.toGeoJSON());
              document.getElementById("sGeometry").value=strPoly;
              //want to check here whether the layerToDraw is valid
              //features.addLayer(layerToDraw);
            });
        
        

        // parc opendata + created
        var sUrlGeoParc= window.location.protocol + "//" + window.location.host + [[@{/mvc/geojson/parkGardenByCorner}]]+'?'+sPos;
        geojsonParkLayer = new L.GeoJSON.AJAX(sUrlGeoParc, {onEachFeature: customOnEachFeatureParc});
        editMap.addLayer(geojsonParkLayer);
        
        // used when affect
        geojsonParkLayer.on('click', function(e){
            console.log(e.sourceTarget.feature);
            fnParkGardenClicked(e.sourceTarget.feature.properties)
        });
        
    }
    loadPrefParks();
    editMap.on('zoomend',loadPrefParks);
    editMap.on('moveend',loadPrefParks);

    
    //geoman
    editMap.pm.setLang("fr");
    editMap.pm.setGlobalOptions({
   	  allowSelfIntersection: false
   	});
    editMap.pm.addControls({
	  position: 'topleft',  
	  drawControls: true,
	  editControls: true,
	  optionsControls: true,
	  customControls: true,
	  oneBlock: true,
	  
	  drawMarker: false,
	  drawPolyline: false,
	  drawRectangle: false,
	  drawPolygon: true,
	  drawCircle: false,
	  drawCircleMarker: false,
	  drawText: false,
	  editMode: true,
	  dragMode: false,
	  cutPolygon: false,
	  removalMode: true,
	  rotateMode: false,
	}); 
    
    // alert(calcCrow(59.3293371,13.4877472,59.3225525,13.4619422).toFixed(1));



    //This function takes in latitude and longitude of two location and returns the distance between them as the crow flies (in km)
    function calcCrow(lat1, lon1, lat2, lon2) 
    {
      var R = 6371; // km
      var dLat = toRad(lat2-lat1);
      var dLon = toRad(lon2-lon1);
      var lat1 = toRad(lat1);
      var lat2 = toRad(lat2);

      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
      var d = R * c;
      return d;
    }

    // Converts numeric degrees to radians
    function toRad(Value) {
        return Value * Math.PI / 180;
    }
    
    function presave() {
    	var strPoly = JSON.stringify(L.PM.Utils.findLayers(map)[0].toGeoJSON());
    }
    
    function manageCreateDisabled() {
    	document.getElementById("fsEditPark").disabled = false;
    	var objBtnNew=document.getElementById("btnNew");
    	objBtnNew.classList.remove('btn-outline-success');
    	objBtnNew.classList.add('btn-success');
    }
    
    function savePark() {
    	document.getElementById("saveParkSpinner").style = "display:block;";
    	var objBtnSave=document.getElementById("btnSave");
    	objBtnSave.classList.remove('btn-outline-warning');
    	objBtnSave.classList.add('btn-warning');
    	
    	// TODO continues
    	
    }
    
    function manageDisabled() {
        console.log(document.getElementById("idRegion").value);
        
        if (document.getElementById("idRegion").value!="") {
            document.getElementById("fsComm2co").disabled = false;
            document.getElementById("fsCity").disabled = false;
        }
        if (document.getElementById("idCommunauteDeCommunes").value!="") {
            document.getElementById("fsCity").disabled = false;
        }
    }
    manageDisabled();

    
    // center on map by navigator loc (require grand)
    function showPosition(position) {
        lat =position.coords.latitude;
        lon =position.coords.longitude;

    	// feedback on form
        document.getElementById("mapLng").value=lon;
        document.getElementById("mapLat").value=lat;
        
        editMap.setView(L.latLng(lat,lon));
        
        
    }
    
    function locateMe() {
	    if (navigator.geolocation) {
	       navigator.geolocation.getCurrentPosition(showPosition);
	    }
    }
    
    // https://gis.stackexchange.com/questions/439672/checking-whether-a-polygon-drawn-with-leaflet-geoman-plugin-is-valid

    $(document).ready(function(){

        $("#srcAdress").select2(
        	{
        	  ajax: {
        		delay: 500,
        		closeOnSelect: true,
        		//selectOnClose: true,
        		allowClear: true,
        		language: "fr",
        		placeholder: 'Rechercher par adresse',
    	   		 minimumInputLength: 3,
    	         url: function (params) {
    	             console.log("change adresse select2");
    	             var idCommune=document.getElementById('idCommune');
    	             // var idCity = idCommune.options[idRegion.selectedIndex].value;
    	             var idCity = idCommune.value;
    	             console.log("idCity"+idCity);
    	             
    	             //var search = srcAdress.options[srcAdress.selectedIndex].value;
    	             var search = params.term;
    	             
    	             console.log('adress?idCity='+ idCity +'&q='+ search);
    	             return  [[@{/mvc/ajax/dropdown/search_adress}]] +'?idCity='+ idCity +'&q='+search;//+'&q1='+ params.term;
    	           },
    	           
                dataType: 'json' ,
                processResults: function (data) {
               		return {
                        "results":data
                      };  
                },
            },
            templateSelection: function (data, container) {
                	//console.log("data-point="+data.value);
                	//console.log("data-lat="+data.lat);
                	//console.log("data-lon="+data.lon);
                    $(data.element).attr('data-lat', data.lat);
                    $(data.element).attr('data-lon', data.lon);
                    return data.text;
            },
          }
        ); // select2 commune
	
        $('#srcAdress').on("change", function(e) { 
            //locate on the adress
            var selectedSelect2OptionSource = $("#srcAdress :selected");
        	var lon = selectedSelect2OptionSource.attr('data-lon');
        	var lat = selectedSelect2OptionSource.attr('data-lat');
        	
        	// feedback on form
            document.getElementById("mapLng").value=lon;
            document.getElementById("mapLat").value=lat;
            
            locateWorkPlace=locatePlace(lat, lon);
            editMap.setView(locateWorkPlace);
        });
    });

    
    
/*
 https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/file-upload-Spring-Boot-Ajax-example
 */
    async function uploadFile() {
      let formData = new FormData(); 
      formData.append("file", fileupload.files[0]);
      let response = await fetch('/upload', {
        method: "POST", 
        body: formData
      }); 

      if (response.status == 200) {
        alert("File successfully uploaded.");
      }
    }

 function ConvertDMSToDD(degrees, minutes, seconds, direction) {
     //console.log(degrees+" "+minutes+" "+seconds+" "+direction);
     var dd = degrees + (minutes/60) + (seconds/36000000);
     //console.log(degrees+" "+(minutes/60)+" "+(60000/36000000));                               
     if (direction == "S" || direction == "W") {
         dd = dd * -1;
     }
     //console.log(dd);
     return dd;
  }

 var photoMarker=null;
 // prévalidation du fichier d'upload (type, conhérence, exif)
 function fileValidation() {
     var fileInput =  document.getElementById('fileupload');
     var filePath = fileInput.value;
     
     // Allowing file type
     //var allowedExtensions =  /(\.jpg|\.jpeg|\.png|\.gif)$/i;
     var allowedExtensions =  /(\.jpg|\.jpeg)$/i;
     if (!allowedExtensions.exec(filePath)) {
    	 //console.log("fichier invalide");
         alert("Le fichier n'est pas une photo.");
         fileInput.value = '';
         return false;
         
     } else  {
         // Image preview
         if (fileInput.files && fileInput.files[0]) {
        	 var blob = fileInput.files[0]; // See step 1 above
        	 var extType=blob.type;
        	 //console.log("extType="+extType);

        	 var fileReader = new FileReader();
        	 fileReader.onloadend = function(e) {
		 	   var arr = (new Uint8Array(e.target.result)).subarray(0, 4);
		 	   var header = "";
		 	   for(var i = 0; i < arr.length; i++) {
		 	      header += arr[i].toString(16);
		 	   }
		 	   //console.log("header="+header);
		 	   
		 	   // Check the file signature against known types
		  	  var realType="unknown";
		 	  switch (header) {
		 	    case "89504e47":
		 	    	realType = "image/png";
		 	        break;
		 	    case "47494638":
		 	    	realType = "image/gif";
		 	        break;
		 	    case "ffd8ffe0":
		 	    case "ffd8ffe1":
		 	    case "ffd8ffe2":
		 	    case "ffd8ffe3":
		 	    case "ffd8ffe8":
		 	    	realType = "image/jpeg";
		 	        break;
		 	    case "52494646":
		 	    	realType = "image/webp";
		 	        break;
		 	    default:
		 	    	realType = "unknown"; // Or you can use the blob.type as fallback
		 	        break;
		 	  }
		 	  //console.log("realType="+realType);
       	  
				if (realType==="unknown") {
					fileInput.value = '';
					alert('Le format du fichier est inconnu.');
					return false;
				} else if (extType===realType) {
					console.log("Le format du fichier correspond à l'extention.");
					var chkLoc=false;
					
					EXIF.getData(blob, function(chkLoc) {
				        var extLat = EXIF.getTag(this, "GPSLatitude");
				        var extLon = EXIF.getTag(this, "GPSLongitude");
				        console.log(extLat);
				        console.log(extLon);
				        if (!extLat && !extLon) {
				        	fileInput.value = '';
				        	alert("La photo n'a pas de données de localisation.");
				        	chkLoc= false;
				        } else {
				        	chkLoc= true;
				        	
				        	// get latitude from exif data and calculate latitude decimal
				            var latDegree = extLat[0].numerator;
				            var latMinute = extLat[1].numerator;
				            var latSecond = extLat[2].numerator;
				            var latDirection = EXIF.getTag(this, "GPSLatitudeRef");
				            var latFinal = ConvertDMSToDD(latDegree, latMinute, latSecond, latDirection);
				            
				            // get longitude from exif data and calculate longitude decimal
				            var lonDegree = extLon[0].numerator;
				            var lonMinute = extLon[1].numerator;
				            var lonSecond = extLon[2].numerator;
				            var lonDirection = EXIF.getTag(this, "GPSLongitudeRef");
				            var lonFinal = ConvertDMSToDD(lonDegree, lonMinute, lonSecond, lonDirection);
				            
				            // centrage sur la carte
				            locateWorkPlace=locatePlace(latFinal, lonFinal);
				            editMap.setView(locateWorkPlace);
				            
				            document.getElementById("mapLng").value=lonFinal;
				            document.getElementById("mapLat").value=latFinal;
				            
				            photoMarker = L.marker( L.latLng(latFinal,lonFinal), {
				            		icon:photoIcon, draggable:false
				            		})
				    			 // .bindPopup('Votre photo a été prise ici.')
				    			  .addTo(editMap);
				    		sleep(2000).then(() => { editMap.removeLayer(photoMarker); });
				    		
				        }
				    });
					
					/*
		        	 var previsuReader = new FileReader();
		        	 previsuReader.onloadend = function(e) {
		        		 document.getElementById('imagePreview').innerHTML = '<img width="300" height="200" src="'+ blob +'"/>';
		        	 }
		        	 previsuReader.readAsDataURL(blob);
		        	 */
		        	 
					return chkLoc;
				} else {
					fileInput.value = '';
					//console.log("fichier non conforme");
					alert("Le format du fichier ne correspond pas à l'extention.");
					return false;
				}
	        	 
        	 };
        	 fileReader.readAsArrayBuffer(blob);
        	 
         } else {
        	 console.log("pas de fichier");
        	 return false;
         }
     }
 }

</script>

</body>
</html>
