<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="~{fragments/fragment-head :: head}"></head>

<body class="sb-nav-fixed">
	<div th:insert="~{fragments/fragment-navUp :: navUp}"></div>
	<div id="layoutSidenav">
		<div th:insert="~{fragments/fragment-navLeft :: navLeft}"></div>

		<div id="layoutSidenav_content">
			<!-- debut MAIN -->
			<main>

				<div class="container">

<div class="row row-cols-1 row-cols-md-12 g-2 ">
	<h1>titre recherche</h1>
     <div class="row">
         <div class="col-3">
             <div class="card" style="text-align: center">
                 <h3>region</h3>
             </div>
         </div>
         <div class="col-3">
             <div class="card" style="text-align: center">
                 <h3>comm2co</h3>
             </div>
         </div>
         <div class="col-6">
             <div class="card" style="text-align: center">
                 <h3>comm</h3>
             </div>
         </div>
     </div>
     <div class="row">
         <div class="col-6">
             <div class="card" style="text-align: center">
                 <h3>park</h3>
             </div>
         </div>
         <div class="col-6">
             <div class="card" style="text-align: center">
                 <h3>entry</h3>
             </div>
         </div>
     </div>
    <div class="col-6">
    	
        <div class="row">
        	<h1>titre parc</h1>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>nom parc</h3>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>quartier parc</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lat</h3>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lng</h3>
                </div>
            </div>
        </div>
        
        
    	
        <div class="row">
        	<h1>titre entry</h1>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>nom parc</h3>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>quartier parc</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lat</h3>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lng</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lat</h3>
                </div>
            </div>
            <div class="col">
                <div class="card border" style="text-align: center">
                    <h3>lng</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
    <h1>titre map</h1>
    	<div class="row">
            <div class="col-4">
                <div class="card border" style="text-align: center">
                    <h3>btns</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card border" style="text-align: center">
                    <h3>btns</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card border" style="text-align: center">
                    <h3>btns</h3>
                </div>
            </div>
        </div>
        <div class="row h-100 ">
            <div class="col-12">
                <div class="card h-100 border" style="text-align: center">
                    <h1>MAP</h1>
                </div>
            </div>
        </div>
    </div>
</div>
			



				</div><!-- container -->
		

		</main>
	</div> 	<!-- layoutSidenav_content -->
	</div> 	<!-- layoutSidenav -->
	<!-- fin MAIN -->

	<div th:insert="~{fragments/fragment-footer :: footer}"></div>

	<div th:insert="~{fragments/fragment-jslibs :: appMap}"></div>


	<script th:src="@{/mvc/static/js/scripts.js}"></script>
	<script th:src="@{/mvc/static/assets/demo/chart-area-demo.js}"></script>
	<script th:src="@{/mvc/static/assets/demo/chart-bar-demo.js}"></script>
	<script th:src="@{/mvc/static/js/datatables-simple-demo.js}"></script>

	<script th:inline="javascript">
//https://stackoverflow.com/questions/25683871/assign-id-to-marker-in-leaflet
//https://stackoverflow.com/questions/29882361/show-datalist-labels-but-submit-the-actual-value
//draw park
//https://stackoverflow.com/questions/56767975/leaflet-draw-polygon-on-load-map
//https://stackoverflow.com/questions/70202040/update-content-in-thymeleaf-without-reloading-whole-page
		
	/* manage correct ID for COMMUNNE SELECTION */
	// th-field broke the datalist work
	document.querySelector('#idCommune-filter').value=[[${editEntrance.nameCommune}]];
	document.querySelector('#idCommune-filter').addEventListener('input', function(e) {
	    var input = e.target,
	        list = input.getAttribute('list'),
	        options = document.querySelectorAll('#' + list + ' option'),
	        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
	        inputValue = input.value;
		    
	    	hiddenInput.value = inputValue;
		    
		    for(var i = 0; i < options.length; i++) {
		        var option = options[i];
		        if(option.value === inputValue) {
		        	hiddenInput.value = option.getAttribute('data-value');
		        	document.querySelector("#formSelectCity").submit();
		            break;
		        }
		    }
	});
	document.querySelector('#idCommune-filter').addEventListener('focusout', function(e) {
	    var input = e.target,
        list = input.getAttribute('list'),
        options = document.querySelectorAll('#' + list + ' option'),
        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
        inputValue = input.value;
	    
	    const regex = /[0-9]/g;
	    const found = hiddenInput.match(regex);
	    if (found) {
	    	document.querySelector("#formSelectCity").submit();
	    }
	});

	/* manage correct ID for PARK SELECTION */
	// th-field broke the datalist work
	document.querySelector('#idPark-filter').value=[[${editEntrance.namePark}]];
	document.querySelector('#idPark-filter').addEventListener('input', function(e) {
	    var input = e.target,
	        list = input.getAttribute('list'),
	        options = document.querySelectorAll('#' + list + ' option'),
	        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
	        inputValue = input.value;
		    
	    	hiddenInput.value = inputValue;
		    
		    for(var i = 0; i < options.length; i++) {
		        var option = options[i];
		        if(option.value === inputValue) {
		        	hiddenInput.value = option.getAttribute('data-value');
		        	document.querySelector("#formSelectPark").submit();
		            break;
		        }
		    }
	});
	document.querySelector('#idPark-filter').addEventListener('focusout', function(e) {
	    var input = e.target,
        list = input.getAttribute('list'),
        options = document.querySelectorAll('#' + list + ' option'),
        hiddenInput = document.querySelector("#"+input.getAttribute('id').split("-")[0]),
        inputValue = input.value;
	    
	    const regex = /[0-9]/g;
	    const found = hiddenInput.match(regex);
	    if (found) {
	    	document.querySelector("#formSelectPark").submit();
	    }
	});		
		
	
	
	// MAP MANAGEMENT
	var entranceIcon = L.icon({
	    iconUrl: '/mvc/images/marker-icon-entrance-1x.png'
	    ,iconAnchor:   [12, 41] // point of the icon which will correspond to marker's location
	    ,popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
	});


	var mapMinZoom=10;
	var mapMaxZoom=20;
	var layerSatellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	        attribution: 'Aut MEL',
	        maxZoom: mapMaxZoom,
               minZoom: mapMinZoom
	    });
	var layerStreetMap = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	        attribution: 'Aut MEL',
	        maxZoom: mapMaxZoom,
               minZoom: mapMinZoom
	    });
	    
	// remove added markers
	function removeTempMarker(e) {
		isMap.removeLayer(newMarker);
	}
	
	/* switch between map and satellite view */
	function switchLayer(e) {
		if (isMap.hasLayer(layerStreetMap)) {
	    	isMap.addLayer(layerSatellite);
	    	isMap.removeLayer(layerStreetMap);
	    	e.innerText= [[#{entrance.map.satellite}]];
	    	
	    } else {
	    	isMap.addLayer(layerStreetMap);
	    	isMap.removeLayer(layerSatellite);
	    	e.innerText= [[#{entrance.map.street}]];
	    }
	}
	
   	function addMarker(e){
   		//markers["new1"] 
   	
   	    // Add marker to map at click location; add popup window
   	    newMarker = new L.marker(e.latlng, {draggable:true,icon: entranceIcon})
   	    				.addTo(isMap);
   	    console.log(e.latlng);
   	
   	 	newMarker.on('dragend', function (e) {
   	 	 	console.log(newMarker.getLatLng());
	   	    //document.getElementById('latitude').value = marker.getLatLng().lat;
	   	    //document.getElementById('longitude').value = marker.getLatLng().lng;
	   	});
   	}


	// Add an object to save markers
	var markers = {};
	
	// custom location on load
	var locateWorkPlace= L.latLng(50.626419,3.0719121);
	var mLng = document.getElementById("mapLongitude").value;
	var mLat = document.getElementById("mapLatitude").value;
	if (mLng!="" && mLat!="") {
		locateWorkPlace = L.latLng(mLat, mLng);
	}
	
    var isMap = L.map('mapid').setView(locateWorkPlace, 16);
    layerStreetMap.addTo(isMap);
    isMap.on('click', addMarker);
    
    // park MARKER
    var mPark = document.getElementById("name").value;
    if (mPark!="") {
    	L.marker(locateWorkPlace).addTo(isMap).bindPopup(mPark).openPopup();
    }
    
    // Entrance markers
    var idPark = document.querySelector('#idPark').value;
    console.log("idPark:"+idPark);
    const idParkRegex = /[0-9]/g;
    const idParkFound = idPark.match(idParkRegex);
    console.log("idParkFound:"+idParkFound);
    if (idParkFound) {
    	options = document.querySelectorAll('#idEntrance option');
        console.log("options:"+options);
    	for(var i = 1; i < options.length; i++) {
	        var option = options[i];
	        
	        lng = option.getAttribute('data-lng');
	        lat = option.getAttribute('data-lat');
	        txt = option.text;
	        console.log("lng"+lng);
	        console.log("  lat"+lat);
	        console.log("  txt"+txt);
	        L.marker(L.latLng(lat,lng), {icon:entranceIcon}).addTo(isMap).bindPopup(txt).openPopup();
	    }
    }
    
   	
   /*  var data = [[${locationStats}]] ;
    console.log("list: "+ data.length);
    for(var i=0; i< data.length;i++) {
        if(data[i].latitude !== null && data[i].longitude !== "") {
            L.marker([data[i].latitude, data[i].longitude]).addTo(isMap)
                .bindPopup(
                    "Estado: "+ data[i].state+'<br><b>'
                    +"Pais: "+data[i].country+'<br><b>'
                    +"Casos reportados: " +data[i].latestTotalCases+'</b>'
                )
                .openPopup();
        }
    } */

</script>


</body>
</html>
